@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;300;700;900&display=swap");

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-color-bg font-montserrat text-color-white;
    line-height: 1.7;
    background-image: url(../src/assets/bg-texture.png);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }

  section {
    @apply mt-32;
  }

  section > h2,
  section > h5 {
    @apply text-center text-color-light;
  }

  section > h2 {
    @apply mb-12 text-color-primary;
  }

  .text-light {
    @apply text-color-primary;
  }

  a {
    @apply text-color-primary transition-all duration-400 ease-in-out;
  }

  a:hover {
    @apply text-color-white;
  }

  .btn {
    @apply inline-block w-max cursor-pointer rounded-md border border-solid border-color-primary px-5 py-3 transition-all duration-400 ease-in-out;
  }

  .btn:hover {
    @apply border-transparent bg-color-white text-color-bg;
  }

  .btn-primary {
    @apply bg-color-primary text-color-bg;
  }

  img {
    @apply block w-full object-cover;
  }

  .container {
    @apply w-[75%] md:w-[86%] sm:w-[90%];
  }
}
